BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "sys_clk" SITE "C1" ;
LOCATE COMP "state_in[0]" SITE "M7" ;
LOCATE COMP "state_in[1]" SITE "M8" ;
LOCATE COMP "state_in[2]" SITE "M9" ;
LOCATE COMP "state_in[3]" SITE "M10" ;
LOCATE COMP "sys_rst_n" SITE "N14" ;
LOCATE COMP "led_left[0]" SITE "P2" ;
LOCATE COMP "led_left[1]" SITE "N2" ;
LOCATE COMP "led_left[2]" SITE "M2" ;
LOCATE COMP "led_right[0]" SITE "P4" ;
LOCATE COMP "led_right[1]" SITE "N3" ;
LOCATE COMP "led_right[2]" SITE "M3" ;
LOCATE COMP "led_out[0]" SITE "N13" ;
LOCATE COMP "led_out[1]" SITE "M12" ;
LOCATE COMP "led_out[2]" SITE "P12" ;
LOCATE COMP "led_out[3]" SITE "M11" ;
LOCATE COMP "led_out[4]" SITE "P11" ;
LOCATE COMP "led_out[5]" SITE "N10" ;
LOCATE COMP "led_out[6]" SITE "N9" ;
LOCATE COMP "led_out[7]" SITE "P9" ;
